body{
    background-color: $backgroundColor;
    height: 100vh;
    font-size: $fontSize;
    font-family: 'Plus Jakarta Sans';

    main{
       @include flexcenter();
        margin-top: 100px;
       
        
    }
    .container{
        background-color: $notificationContainer;
        width: 650px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 10px 10px 10px 10px;
        
        .heading{
            @include flexbetween();
            .notification-container{
                display: flex;
                #number{
                    margin-top: 5px;
                    margin-left:10px ;
                    background-color: $notificationNumber;
                    color: white;
                    padding: 3px;
                    border-radius: 5px;
                }
            }
            .mark{
                margin-top: 15px;
            }
        }
       @import "../notifications-page-main/sass/firstContainer";
       @import "../notifications-page-main/sass/secondContainer";
       @import "../notifications-page-main/sass/thirdContainer";
    }
}

